#root, #root > div{
    height: 100%;
    width: 100%;

}
.auth__main{
    align-items: center;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0px;
    height: 100%;
    width: 100%;

}
.auth__please{
    color:#fff;
    font-size: 2em;
}
.auth__box-container{
    background-color: lighten($color: $primary, $amount: 5);
    color:#fff;
    box-shadow: 0px 3px $dark-grey;
    -webkit-box-shadow: 0 0 10px 0 $primary, inset 0 0 5px 0 rgba(255,255,255,.2);
    box-shadow: 0 0 10px 0 $primary, inset 0 0 5px 0 rgba(255,255,255,.2);
    border-radius: 20px;
    padding: 40px;
    width: 250px;

}
.auth__title{
    margin-bottom: 50px;

}
.auth__input{
    color:#fff;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    height: 20px;
    background: transparent;

    transition: all .3s ease;

    &:focus{
        outline: none;

    }
    &::placeholder{
        outline: none;
        color: darken($color: $secondary, $amount: 20);

    }
}
hr{margin-top: 40px;}
.border-bottom {
    
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-position: 0 -6px, 0 100% ;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 1px;
    -moz-background-size: 100% 1px;
    background-size: 100% 1px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(left, #4cd18b00 0%,#4cd18b5c 50%, #4cd18b00 100%), -webkit-linear-gradient(left, #4cd18b00 0%, #4cd18b5c 50%, #4cd18b00 100%);
    background-image: -moz-linear-gradient(left, #4cd18b00 0%, #4cd18b5c 50%, #4cd18b00 100%), -moz-linear-gradient(left, #4cd18b00 0%, #4cd18b5c 50%, #4cd18b00 100%);
    background-image: -o-linear-gradient(left, #4cd18b00 0%, #4cd18b5c 50%, #4cd18b00 100%), -o-linear-gradient(left, #4cd18b00 0%, #4cd18b5c 50%, #4cd18b00 100%);
    background-image: linear-gradient(to right, #4cd18b00 0%, #4cd18b5c 50%, #4cd18b00 100%), linear-gradient(to right, #4cd18b00 0%, #4cd18b5c 50%, #4cd18b00 100%);
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding-bottom: 9px;
  }
  input.border-bottom {
    
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-position: 0 -6px, 0 100% ;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 1px;
    -moz-background-size: 100% 1px;
    background-size: 100% 1px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(left,  $secondary 0%, #4cd18b00 100%), -webkit-linear-gradient(left,   $secondary 0%, #4cd18b00 100%);
    background-image: -moz-linear-gradient(left,  $secondary 0%, #4cd18b00 100%), -moz-linear-gradient(left,   $secondary 0%, #4cd18b00 100%);
    background-image: -o-linear-gradient(left,  $secondary 0%, #4cd18b00 100%), -o-linear-gradient(left,   $secondary 0%, #4cd18b00 100%);
    background-image: linear-gradient(to right,  $secondary 0%, #4cd18b00 100%), linear-gradient(to right,   $secondary 0%, #4cd18b00 100%);
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding-bottom: 9px;
  }
.auth__social-networks{
    margin:50px 0 20px;
    font-size: .8rem;
}
.auth__google-btn{
    align-items: center;
    display:flex;
    justify-content: left;
    margin: 20px 0;
    column-gap: 10px;
    
    font-size: 1rem;
}

.auth__alert-error {
    background-color: #ff00002c;
    font-size: .8em;
    border-radius: 5px;
    font-weight: bold;
    color: #d90000;
    justify-content: center;
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 1px #d90000;
}