.link{
     color:lighten($color: $terciary, $amount: 25);
     font-size:14px;
     letter-spacing: 1px;
     display: flex;

     svg{
         margin-right: 8px;
        opacity: .8;
    }
     

     &:hover{
         color:#fff;
         text-decoration:none;
     }
}