// Colors
$primary: rgb(5,30,52);
$secondary:#4cd18b;
$terciary:#3da590;
$dark-grey: #363636;
$light-grey: #d8d8d8;

$danger:#ec1e1e;


$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

$sidebarWidth:256px;